Content/DAY 3 - Monitor + IoT/Lab Exercises/NewNodeRed_Flow.json
[
    {
        "id": "bb45da8d8d22cd5a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3b9e3a1e86d5db94",
        "type": "inject",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "732d251e02413bc5"
            ]
        ]
    },
    {
        "id": "065b2c8f14c5c4fe",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Temp",
        "func": "flow.set('InputTemp',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 780,
        "wires": [
            [
                "71a1cd22d5a96397"
            ]
        ]
    },
    {
        "id": "387229be44008ddc",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Voltage",
        "func": "flow.set('InputVoltage',msg.payload);\nmsg.payload = {'InputVoltage':msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 840,
        "wires": [
            [
                "cbf632c922ddb60d"
            ]
        ]
    },
    {
        "id": "cbf632c922ddb60d",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Prepare Payload",
        "func": "msg.payload = { \"InputTemp\": flow.get(\"InputTemp\"), \"Temp_X\": flow.get(\"Temp_X\"), \"InputVoltage\": flow.get(\"InputVoltage\") };\nmsg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1000,
        "wires": [
            [
                "1c2385e38cd1f516"
            ]
        ]
    },
    {
        "id": "a59b3ee55968d7b1",
        "type": "debug",
        "z": "bb45da8d8d22cd5a",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1c2385e38cd1f516",
        "type": "json",
        "z": "bb45da8d8d22cd5a",
        "name": "JSON format ",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 1140,
        "wires": [
            [
                "a59b3ee55968d7b1",
                "da2ddc2dde26d808"
            ]
        ]
    },
    {
        "id": "da2ddc2dde26d808",
        "type": "http request",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maximo.messaging.iot.mas810.maseylabs-c6c44da74def18a795b07cc32856e138-0000.us-east.containers.appdomain.cloud/api/v0002/application/types/Pump_SN/devices/PUMP1/events/event1",
        "tls": "838fb4709f73cf5e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "6dc6b9564f87cc0b",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Temp_X",
        "func": "flow.set('Temp_X',msg.payload);\nmsg.payload = {'Temp_X':msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 820,
        "wires": [
            [
                "4501d5f4acaffec9"
            ]
        ]
    },
    {
        "id": "732d251e02413bc5",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputTemp",
        "low": "60",
        "high": "10",
        "inte": "false",
        "property": "payload",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "065b2c8f14c5c4fe"
            ]
        ]
    },
    {
        "id": "4501d5f4acaffec9",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputVoltage",
        "low": "800",
        "high": "950",
        "inte": "false",
        "property": "payload",
        "x": 810,
        "y": 660,
        "wires": [
            [
                "387229be44008ddc"
            ]
        ]
    },
    {
        "id": "71a1cd22d5a96397",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "Temp_X",
        "low": "20",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 540,
        "y": 660,
        "wires": [
            [
                "6dc6b9564f87cc0b"
            ]
        ]
    },
    {
        "id": "439f147b2d6090de",
        "type": "inject",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "dcbccc753a2c608a"
            ]
        ]
    },
    {
        "id": "e81f4455e80b4dfa",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Temp",
        "func": "flow.set('InputTemp',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "b7d6c6f7fb9beb4c"
            ]
        ]
    },
    {
        "id": "2c16c4c86a911b10",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Voltage",
        "func": "flow.set('InputVoltage',msg.payload);\nmsg.payload = {'InputVoltage':msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1520,
        "wires": [
            [
                "d72f1ce80d16e38e"
            ]
        ]
    },
    {
        "id": "d72f1ce80d16e38e",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Prepare Payload",
        "func": "msg.payload = { \"InputTemp\": flow.get(\"InputTemp\"), \"Temp_X\": flow.get(\"Temp_X\"), \"InputVoltage\": flow.get(\"InputVoltage\") };\nmsg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1700,
        "wires": [
            [
                "d083493739e50d9e"
            ]
        ]
    },
    {
        "id": "277b7da4a108adaf",
        "type": "debug",
        "z": "bb45da8d8d22cd5a",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 1920,
        "wires": []
    },
    {
        "id": "d083493739e50d9e",
        "type": "json",
        "z": "bb45da8d8d22cd5a",
        "name": "JSON format ",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1010,
        "y": 1840,
        "wires": [
            [
                "277b7da4a108adaf",
                "879f92ab68eac4a2"
            ]
        ]
    },
    {
        "id": "879f92ab68eac4a2",
        "type": "http request",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maximo.messaging.iot.mas810.maseylabs-c6c44da74def18a795b07cc32856e138-0000.us-east.containers.appdomain.cloud/api/v0002/application/types/Pump_SN/devices/PUMP2_SN/events/event1",
        "tls": "838fb4709f73cf5e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "30d4c002837abeee",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Temp_X",
        "func": "flow.set('Temp_X',msg.payload);\nmsg.payload = {'Temp_X':msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1500,
        "wires": [
            [
                "5f1ccbea2b277c6d"
            ]
        ]
    },
    {
        "id": "dcbccc753a2c608a",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputTemp",
        "low": "50",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 310,
        "y": 1340,
        "wires": [
            [
                "e81f4455e80b4dfa"
            ]
        ]
    },
    {
        "id": "5f1ccbea2b277c6d",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputVoltage",
        "low": "800",
        "high": "950",
        "inte": "false",
        "property": "payload",
        "x": 830,
        "y": 1340,
        "wires": [
            [
                "2c16c4c86a911b10"
            ]
        ]
    },
    {
        "id": "b7d6c6f7fb9beb4c",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "Temp_X",
        "low": "20",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 560,
        "y": 1340,
        "wires": [
            [
                "30d4c002837abeee"
            ]
        ]
    },
    {
        "id": "a2f6ee548dee7617",
        "type": "inject",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1900,
        "wires": [
            [
                "1d6e2456c69eeb76"
            ]
        ]
    },
    {
        "id": "a3fe28e74a70267a",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Temp",
        "func": "flow.set('InputTemp',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2120,
        "wires": [
            [
                "3c849e234fd9a2d5"
            ]
        ]
    },
    {
        "id": "1599afb02773459f",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Voltage",
        "func": "flow.set('InputVoltage',msg.payload);\nmsg.payload = {'InputVoltage':msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2180,
        "wires": [
            [
                "d9e56ea40b8a4fdf"
            ]
        ]
    },
    {
        "id": "d9e56ea40b8a4fdf",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Prepare Payload",
        "func": "msg.payload = { \"InputTemp\": flow.get(\"InputTemp\"), \"Temp_X\": flow.get(\"Temp_X\"), \"InputVoltage\": flow.get(\"InputVoltage\") };\nmsg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 2360,
        "wires": [
            [
                "be1a3f6dea5c5330"
            ]
        ]
    },
    {
        "id": "44dd604001958110",
        "type": "debug",
        "z": "bb45da8d8d22cd5a",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 2580,
        "wires": []
    },
    {
        "id": "be1a3f6dea5c5330",
        "type": "json",
        "z": "bb45da8d8d22cd5a",
        "name": "JSON format ",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 970,
        "y": 2500,
        "wires": [
            [
                "44dd604001958110",
                "264398380b9cc920"
            ]
        ]
    },
    {
        "id": "264398380b9cc920",
        "type": "http request",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maximo.messaging.iot.mas810.maseylabs-c6c44da74def18a795b07cc32856e138-0000.us-east.containers.appdomain.cloud/api/v0002/application/types/Pump_SN/devices/PUMP3_SN/events/event1",
        "tls": "838fb4709f73cf5e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "859f867d2ea3859f",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Temp_X",
        "func": "flow.set('Temp_X',msg.payload);\nmsg.payload = {'Temp_X':msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2160,
        "wires": [
            [
                "d6972d5519596142"
            ]
        ]
    },
    {
        "id": "1d6e2456c69eeb76",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputTemp",
        "low": "20",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 270,
        "y": 2000,
        "wires": [
            [
                "a3fe28e74a70267a"
            ]
        ]
    },
    {
        "id": "d6972d5519596142",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputVoltage",
        "low": "800",
        "high": "950",
        "inte": "false",
        "property": "payload",
        "x": 790,
        "y": 2000,
        "wires": [
            [
                "1599afb02773459f"
            ]
        ]
    },
    {
        "id": "3c849e234fd9a2d5",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "Temp_X",
        "low": "20",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 520,
        "y": 2000,
        "wires": [
            [
                "859f867d2ea3859f"
            ]
        ]
    },
    {
        "id": "829312f1783858af",
        "type": "inject",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load Interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2580,
        "wires": [
            [
                "910324ca3797c67d"
            ]
        ]
    },
    {
        "id": "adef69240f193320",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Temp",
        "func": "flow.set('InputTemp',msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 2800,
        "wires": [
            [
                "18ddcaed3ebc3646"
            ]
        ]
    },
    {
        "id": "5973fccbb73b519f",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Input Voltage",
        "func": "flow.set('InputVoltage',msg.payload);\nmsg.payload = {'InputVoltage':msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2860,
        "wires": [
            [
                "45f96221695564e3"
            ]
        ]
    },
    {
        "id": "45f96221695564e3",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Prepare Payload",
        "func": "msg.payload = { \"InputTemp\": flow.get(\"InputTemp\"), \"Temp_X\": flow.get(\"Temp_X\"), \"InputVoltage\": flow.get(\"InputVoltage\") };\nmsg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 3040,
        "wires": [
            [
                "8865984e93836d08"
            ]
        ]
    },
    {
        "id": "8d7380d4ce719df4",
        "type": "debug",
        "z": "bb45da8d8d22cd5a",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 3260,
        "wires": []
    },
    {
        "id": "8865984e93836d08",
        "type": "json",
        "z": "bb45da8d8d22cd5a",
        "name": "JSON format ",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 3180,
        "wires": [
            [
                "8d7380d4ce719df4",
                "bad04228bf871555"
            ]
        ]
    },
    {
        "id": "bad04228bf871555",
        "type": "http request",
        "z": "bb45da8d8d22cd5a",
        "name": "Data Load",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maximo.messaging.iot.mas810.maseylabs-c6c44da74def18a795b07cc32856e138-0000.us-east.containers.appdomain.cloud/api/v0002/application/types/Pump_SN/devices/PUMP4_SN/events/event1",
        "tls": "838fb4709f73cf5e",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "4b29a34989182120",
        "type": "function",
        "z": "bb45da8d8d22cd5a",
        "name": "Set Temp_X",
        "func": "flow.set('Temp_X',msg.payload);\nmsg.payload = {'Temp_X':msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 2840,
        "wires": [
            [
                "b0b076a71e1d5e1a"
            ]
        ]
    },
    {
        "id": "910324ca3797c67d",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputTemp",
        "low": "20",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 290,
        "y": 2680,
        "wires": [
            [
                "adef69240f193320"
            ]
        ]
    },
    {
        "id": "b0b076a71e1d5e1a",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "InputVoltage",
        "low": "800",
        "high": "950",
        "inte": "false",
        "property": "payload",
        "x": 810,
        "y": 2680,
        "wires": [
            [
                "5973fccbb73b519f"
            ]
        ]
    },
    {
        "id": "18ddcaed3ebc3646",
        "type": "random",
        "z": "bb45da8d8d22cd5a",
        "name": "Temp_X",
        "low": "20",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 540,
        "y": 2680,
        "wires": [
            [
                "4b29a34989182120"
            ]
        ]
    },
    {
        "id": "838fb4709f73cf5e",
        "type": "tls-config",
        "name": "Labs",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]
